@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web calculator</h1>
    <p>Input two numbers in empty fields and click "Add numbers".</p>

    <input type="number" id="input1" class="form-control mb-2" placeholder="first number"/>
    <input type="number" id="input2" class="form-control mb-2" placeholder="second number"/><br><br>

    <button id="sumButton" type="button" class="btn btn-primary">Add numbers</button><br><br>

    <p id="output"></p>
</div>

<!-- Odotetaan Scripts osiota ennen suorittamista -->
@section Scripts
{
  <script type="text/javascript">
    $("#sumButton").click(
        function()
        {
        const luku1 = $("#input1").val();
        const luku2 = $("#input2").val();

        $("#output")[0].innerHTML = parseInt(luku1)+parseInt(luku2);
        }
    )
  </script>
}