body {
    background-color: rgb(173, 214, 211);
  }
h1{
    font-size:xx-large;
    color: black;
    text-align: center;
}
p {
    font-size: large;
    color: red;
    text-align: center;
  }
  
a {
    color: blue;
    text-align: center;
  }